::selection {
    background-color: var(--color-accent);
    color: rgb(0, 0, 0);
}

::-webkit-scrollbar {
    width: 8px;
}

/* Explicitly set vertical/horizontal scrollbar sizing for WebKit */
::-webkit-scrollbar:vertical {
    width: 8px;
}

::-webkit-scrollbar:horizontal {
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-background-light);
}

::-webkit-scrollbar-thumb {
    background: var(--color-accent);
    border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1f1479;
}

html {
    scrollbar-width: thin;
}